<robot name = "diff_drive">
	<link name="base"/>
	<link name="left_wheel"/>
	<link name="right_wheel"/>
	
	<joint name = "left_axle" type = "continuous">
	<parent link = "base"/>
	<child link = "left_wheel"/>
    <origin xyz="0 -1.0 0" rpy="0 0 1.57" />
    <axis xyz="0 1 0" />
	</joint>
	
	<joint name = "right_axle" type = "continuous">
	<parent link = "base"/>
	<child link = "right_wheel"/>
    <origin xyz="0 1.0 0" rpy="0 0 -1.57" />
    <axis xyz="0 1 0" />
	</joint>
</robot>
